
body {
    background-color: lightgrey;
}

#formBox{
    margin-top:30vh;
}
#container {
    background-color: antiquewhite;
}
#insertBox{
    background-color: #d3f6db;
}

#formItem label, #formItemBtn {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
}

#lblLogged {
    float:left;
    margin-top: 30vh;
}